.container {
  align-items: center;
  background-color: #2bae66;
  border-radius: 5px;
  display: flex;
  height: 15px;
  padding: 0.3rem 0.6rem;

  p {
    color: #fff;
    font-size: 0.85rem;
    margin: 0;
  }
}
