.container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-columns: 1fr 45px;

  input {
    background-color: #F8F8F8;
    border: none;
    color: rgb(0, 0, 0, 0.4);
    padding: 0 0.5rem;

    &::placeholder {
      color: rgb(0, 0, 0, 0.4);
    }

    &:focus {
      outline: none;
    }
  }

  @media (min-width: 900px) {
    margin: 0 0.5rem 0.5rem;

    input {
      border: none;
      padding: 0.5rem;
    }
  }
}

.searchButton {
  background-color: #F8F8F8;
  border: none;
  color: #fff;

  svg {
    font-size: 1rem;
    color: #2bae66;
    cursor: pointer;
  }
}
