.container {
  align-items: center;
  background-image: url("../images/pattern.svg");
  display: flex;
  height: 100vh;
  justify-content: center;
}

.main {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: grid;
  grid-template-rows: 0.2fr 0.8fr;
  height: calc(100vh * 0.8);
  position: relative;
  width: calc(100vw * 0.8);

  @media (min-width: 900px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.column {
  background-color: #2bae66;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;

  h2 {
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    margin: 0;

    span {
      font-weight: 700;
    }
  }

  p {
    align-self: center;
    font-family: "Hubballi", cursive;
    font-size: 3.5rem;
    margin: 0;
    text-align: center;
    width: 80%;
  }

  svg {
    color: #fff;
    font-size: 3rem;
  }

  @media (min-width: 900px) {
    height: 100%;
    justify-content: space-evenly;
    padding: 0;
    position: absolute;
    right: 0;
    width: 60%;
    z-index: 1000;
  }
}

.column.activeLogin {
  animation: moveTrue 0.75s forwards;
}

.column.activeRegister {
  animation: moveFalse 0.75s forwards;
}

@keyframes moveTrue {
  from {
    right: 0;
  }
  to {
    right: 40%;
  }
}

@keyframes moveFalse {
  from {
    right: 40%;
  }
  to {
    right: 0;
  }
}

.logo {
  @media (min-width: 900px) {
    h2 {
      font-size: 2rem;
    }

    svg {
      font-size: 3.5rem;
    }
  }
}

.login,
.register {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 900px) {
    width: 40%;
  }
}

.infos {
  position: relative;
  width: 80%;
}

.title {
  align-self: flex-start;
  color: #2bae66;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 400;
  margin: 0;
}

.errorMessage {
  color: red;
  margin: 0;
}

.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 80%;

  input {
    background-color: #f8f8f8;
    border: none;
    border-left: 3px solid #2bae66;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;

    &::placeholder {
      color: #cfcfcf;
    }

    &:focus {
      outline: none;
    }
  }
}

.forgotPassword {
  color: #2bae66;
  cursor: pointer;
  font-size: 1.1rem;
  margin: 0.7rem 0 0;

  &:hover {
    color: #178749;
  }
}

.button {
  background-color: #2bae66;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  font-size: 1.1rem;
  height: 30px;

  &:hover {
    background-color: #178749;
  }
}

.move {
  align-self: flex-end;
  color: #2bae66;
  cursor: pointer;
  font-size: 0.9rem;
  margin: 1rem 0;
}
