.container {
  background-color: #edf6f9;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  height: 100vh;
}

/*CHAT HEADER*/
.headerContainer {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  padding: 1rem 0 1.5rem;
}

.headerUser {
  align-items: center;
  display: flex;
  gap: 0.8rem;
}

.headerAvatar {
  border-radius: 50%;
  height: 60px;
  width: 60px;

  img {
    height: 60px;
    width: 60px;
  }
}

.headerUserInfo {
  display: flex;
  flex-direction: column;
}

.headerName {
  font-size: 1.25rem;
  margin: 0;
}

.headerStatus {
  color: #2bae66;
  font-size: 1.125rem;
  margin: 0;
}

.headerLogout {
  background-color: #2bae66;
  border-radius: 5px;
  padding: 0.6rem;

  p {
    color: #fff;
    font-size: 0.95rem;
    margin: 0;
  }
}

/*CHAT SEARCH*/
.searchContainer {
  display: flex;
  padding: 1rem;

  input {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px 0 0 5px;
    height: 28px;
    padding: 0 0.5rem;
    width: 90%;
  }

  button {
    background-color: #2bae66;
    border: none;
    border-radius: 0 5px 5px 0;
    color: #fff;
    width: 10%;
  }
}

/* CHAT MESSAGES*/
.messageContainer {
  background-color: #fff;
  border-radius: 10px;

  margin: 0 1rem;
  padding: 0.5rem;
}

.message {
  display: flex;
  justify-content: space-between;
}

.messageUser {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.messageUserAvatar {
  img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
  }
}

.messageUserInfo {
  p {
    font-size: 1.25rem;
    margin: 0;

    &:last-of-type {
      color: #bbbbbb;
      font-size: 1rem;
    }
  }
}

.messageInfo {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-right: 0.5rem;

  p {
    margin: 0;

    &:first-of-type {
      color: #bbbbbb;
      font-size: 0.95rem;
    }
  }
}

.messageInfoStatus {
  background-color: #bbbbbb;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}

.messageOnline {
  background-color: #2bae66;
}
