.container {
  background-color: #edf6f9;
  display: grid;
  grid-template-rows: 200px 1fr;
  font-family: "Roboto Condensed", sans-serif;
  height: 100vh;

  @media (min-width: 900px) {
    display: grid;
    gap: 0;
    grid-template-columns: 0.4fr 0.6fr;
  }
}

.logo {
  align-items: center;
  background-color: #2bae66;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  width: 100%;

  h2 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0;

    span {
      font-weight: 700;
    }
  }

  svg {
    color: #fff;
    font-size: 5rem;
  }

  @media (min-width: 900px) {
    box-sizing: border-box;
    height: 100vh;
    justify-content: center;

    h2 {
      font-size: 3.5rem;
    }

    svg {
      font-size: 7rem;
    }
  }
}

.login {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 3rem;

  @media (min-width: 900px) {
    align-items: center;
    grid-area: login;
  }
}

.loginInfos {
  position: relative;
}

.loginTitle {
  color: #2bae66;
  margin: 0 0 1rem;
}

.errorMessage {
  align-self: center;
  color: red;
  font-size: 1.2rem;
  left: 50%;
  margin: 0;
  position: absolute;
  top: -40px;
  transform: translate(-50%, 0);
  text-align: center;
}

.errorMessage .active {
  display: block;
}

.form {
  display: flex;
  flex-direction: column;

  input {
    background-color: #edf6f9;
    border: none;
    border-bottom: 2px solid #2bae66;
    font-size: 1rem;

    &:first-of-type {
      margin-bottom: 1.5rem;
    }

    &:focus {
      outline: none;
    }
  }

  @media (min-width: 900px) {
    gap: 0;

    input {
      &:first-of-type {
        margin-bottom: 1.5rem;
      }
    }
  }
}

.forgotPassword {
  color: #2bae66;
  cursor: pointer;
  font-size: 1.1rem;
  margin: 0.7rem 0 0;

  &:hover {
    color: #178749;
  }
}

.buttonLogin {
  align-items: center;
  align-self: flex-end;
  background-color: #2bae66;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 60px;
  justify-content: center;
  margin-top: 1rem;
  width: 60px;

  &:hover {
    background-color: #178749;
  }

  svg {
    color: #fff;
    font-size: 1.4rem;
  }
}

.register {
  align-self: center;
  font-size: 1.2rem;

  span {
    color: #2bae66;
    cursor: pointer;
    font-weight: 600;

    &:hover {
      color: #178749;
    }
  }
}
